.contenidoItem {
    background-color: grey;
    border-radius: 10px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenidoItem img {
    display: flex;
    width: 150px;
    object-fit: contain;
    align-items: center;
    
}


